.banner {
  position: relative;
  width: 80vw;
  height: 80vw;
  overflow: hidden;
}

.imagem,
.imagem1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: clip-path 0.1s ease;
  object-fit: cover;
}

.imagem1 {
  clip-path: inset(0 50% 0% 0);
  transform: translateX(-50%);
  left: 50%;
}

.imagem2 {
  clip-path: inset(0 0 0 50%);
  transform: translateX(-50%);
  left: 50%;
}

@media (min-width: 768px) {
  .banner {
    width: 90vw;
    height: 40vw;
  }
  .imagem,
  .imagem1 {

    width: 70%;
    height: 100%;
    object-fit: contain;
  }
}