@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .cards-portfolio {
    width: calc((295 / 360)* 100vw);
    height: calc((350 / 360)* 100vw);
  }

  .iframe-video {
    width: calc((250 / 360)* 100vw);
    height: calc((138 / 360)* 100vw);
  }

  .p-6.cards-portfolio-header {
    padding: calc((24 / 360) * 100vw);
  }

  .text-lg.portfolio-card-title {
    font-size: calc((18 / 360) * 100vw);
    line-height: calc((18 / 360) * 100vw);
    margin-top: 0;
    margin-bottom: 0;
  }

  .space-y-1\.5> :not([hidden])~ :not([hidden]).text-sm.portfolio-card-description {
    font-size: calc((12 / 360) * 100vw);
    line-height: calc((12 / 360) * 100vw);
    margin-top: calc((6 / 360) * 100vw);
  }

  .p-6.card-content {
    padding: calc((24 / 360)* 100vw);
    padding-top: 0;
  }

  .text-sm.portfolio-card-footer {
    padding: calc((24 / 360) * 100vw);
    padding-top: 0;
    font-size: calc((11 / 360) * 100vw);
    line-height: calc((11 / 360) * 100vw);
  }

  @media (min-width: 640px) {
    .cards-portfolio {
      width: calc((658 / 1440)* 100vw);
      height: calc((734 / 1440)* 100vw);

    }

    .iframe-video {
      width: calc((574 / 1440)* 100vw);
      height: calc((325 / 1440)* 100vw);
    }

    .text-lg.portfolio-card-title {
      font-size: calc((36 / 1440) * 100vw);
      line-height: calc((36 / 1440) * 100vw);
      margin-top: 0;
    }

    .space-y-1\.5> :not([hidden])~ :not([hidden]).text-sm.portfolio-card-description {
      font-size: calc((28 / 1440) * 100vw);
      line-height: calc((28 / 1440) * 100vw);
      margin-top: calc((16 / 1440) * 100vw);
    }

    .p-6.card-content {
      padding: calc((36 / 1440)* 100vw);
      padding-top: 0;
    }

    .p-6.cards-portfolio-header {
      padding: calc((48 / 1440)* 100vw);
    }

    .text-sm.portfolio-card-footer {
      font-size: calc((24 / 1440) * 100vw);
      line-height: calc((24 / 1440) * 100vw);
      padding: calc((36 / 1440) * 100vw);
      padding-top: 0;
    }
  }

  @media (min-width: 1024px) {
    .cards-portfolio {
      width: calc((450 / 1440) * 100vw);
      height: calc((440 / 1440)* 100vw)
    }

    .iframe-video {
      width: calc((380 / 1440) * 100vw);
      height: calc((207 / 1440) * 100vw);
    }

    .p-6.cards-portfolio-header {
      padding: calc((24 / 1440)* 100vw);
    }

    .text-lg.portfolio-card-title {
      font-size: calc((24 / 1440) * 100vw);
      margin-top: 0;
      line-height: calc((24 / 1440) * 100vw);
    }

    .space-y-1\.5> :not([hidden])~ :not([hidden]).text-muted-foreground.text-sm.portfolio-card-description {
      font-size: calc((15 / 1440) * 100vw);
      margin-top: calc((6 / 1440) * 100vw);
      line-height: calc((15 / 1440) * 100vw);
    }

    .p-6.card-content {
      padding: calc((24 / 1440)* 100vw);
      padding-top: 0;

    }

    .text-sm.portfolio-card-footer {
      font-size: calc((14 / 1440) * 100vw);
    }

    .text-sm.portfolio-card-footer {
      font-size: calc((11 / 1440) * 100vw);
      line-height: calc((11 / 1440) * 100vw);
      padding: calc((24 / 1440) * 100vw);
      padding-top: 0;
    }
  }




  .minhaclasse {
    display: block;
    margin: auto;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navbar-link {
    @apply font-medium text-muted-foreground transition-colors hover:text-primary;
  }
}